html {
    font-size: 62.5%;
    font-family: Manrope;
}
body {
    
    
    background-color: hsl(218, 23%, 16%);
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
     
}



.container-content {
    border-radius: 10px;
    background-color:hsl(217, 19%, 24%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50rem;
    padding: 2.5rem 2.5rem 5rem 2.5rem
    
   
}

h2 {
    color: hsl(150, 100%, 66%);
    font-size: 1rem;
    letter-spacing: 1.2px;
    
}


p {
    text-align: center;
    color:hsl(193, 38%, 86%);
    font-weight: 800;
    font-size: 2.12rem;
    padding: .2rem;

}

/* IMAGES */
.seperator {
    padding-right: 1rem;
    padding-left: 1rem;   
}

.dice {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50px;
    width: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 25rem;
    margin-top: 280px; 
    left: 50%; 
    transform: translateX(-50%);
    position: absolute;   
}



@media screen and  (max-width: 401px) {
    .dice {
        margin-top: 300px
    }
}


.dice:hover {
    cursor: pointer;
    box-shadow: 0 0 25px 5px hsl(150, 100%, 66%);
    
}